project:
  type: book
  output-dir: _book

book:
  title: "Quarto: The Definitive Guide"
  reader-mode: true

  page-footer:
    left: |
      Quarto: The Definitive Guide was written by Mine Çetinkaya-Rundel and Charlotte Wickham.
    right: |
      This book was built with <a href="https://quarto.org/">Quarto</a>.
  cover-image: cover.png
  favicon: cover.png
  site-url: https://quarto-tdg.org/
  repo-url: https://github.com/mine-cetinkaya-rundel/quarto-tdg/
  repo-branch: main
  repo-actions: [edit, issue]
  chapters:
    - index.qmd

    - part: overview.qmd
      chapters:
        - quarto.qmd
        - tools.qmd
        - authoring.qmd
        - computation.qmd
        - projects.qmd
        - publishing.qmd
        - look-under-hood.qmd
        - yaml.qmd

    - part: computations.qmd
      chapters:
        - r.qmd
        - python.qmd
        - julia.qmd
        - figure-table.qmd
        - freeze-cache.qmd

    - part: formats.qmd
      chapters:
        - documents.qmd
        - presentations.qmd
        - manuscripts.qmd
        - dashboards.qmd
        - websites.qmd
        - books.qmd

    - part: more.qmd
      chapters:
        - templates.qmd
        - extensions.qmd
        - dig-under-hood.qmd

  appendices:
    - jupyter.qmd

format:
  html:
    theme:
      - cosmo
      - quarto-tdg.scss
    author-meta: "Mine Çetinkaya-Rundel and Charlotte Wickham"
    callout-appearance: simple
    highlight-style: a11y

editor: source

execute:
  freeze: auto

crossref:
  lst-title: Snippet
  lst-prefix: Snippet