project:
  type: book
  output-dir: _book

book:
  title: "Quarto: The Practical Guide"
  reader-mode: true
  page-footer:
    left: |
      Quarto: The Practical Guide was written by Mine Çetinkaya-Rundel and Charlotte Wickham.
    right: |
      This book was built with <a href="https://quarto.org/">Quarto</a>.
  cover-image: cover.png
  favicon: cover.png
  site-url: https://quarto-tdg.org/
  repo-url: https://github.com/mine-cetinkaya-rundel/quarto-tdg/
  repo-branch: main
  repo-actions: [edit, issue]
  chapters:
    - index.qmd

    - part: part-getting-started.qmd
      chapters:
        - quarto.qmd
        - tools.qmd
        - writing.qmd
        - code.qmd
        - options.qmd
        - sharing.qmd

    - part: computation.qmd
      chapters:
         - r.qmd
         - python.qmd
         - freeze-cache.qmd

    - part: part-going-deeper.qmd
      chapters:
        - authoring.qmd
        - projects.qmd
        - yaml.qmd
        - look-under-hood.qmd

    - part: part-formats.qmd
      chapters:
        - html.qmd
        - typst.qmd
        - presentations.qmd
        - websites.qmd

    - part: more.qmd

  appendices:
    - jupyter.qmd

format:
  html:
    theme:
      - cosmo
      - quarto-tdg.scss
    author-meta: "Mine Çetinkaya-Rundel and Charlotte Wickham"
    callout-appearance: simple
    highlight-style: a11y

editor: source

execute:
  freeze: auto

crossref:
  lst-title: Snippet
  lst-prefix: Snippet

filters: 
  - list-table